# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite
*.db

# Python cache
.pytest_cache/
.mypy_cache/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# Secrets
secrets.json
credentials.json

# ML Models (if too large)
*.pkl

# Grafana
grafana.db

# PDF Reports
*.pdf