kafka-python==2.0.2
sqlalchemy
psycopg2-binary
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
streamlit
fastapi
uvicorn
xgboost
requests
plotly
streamlit_autorefresh
streamlit-cookies-manager
dotenv
openpyxl
websockets
websocket-client
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
redis>=5.0.0
prometheus_client
slowapi
redis[hiredis]