kafka-python==2.0.2
sqlalchemy
psycopg2-binary
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
fastapi
uvicorn
xgboost
requests
plotly
openpyxl
websockets
websocket-client
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
redis>=5.0.0
prometheus-client
slowapi
redis[hiredis]
python-dotenv
confluent-kafka